
.btn-second{
    display: flex;
    gap: 4px;
    
}
.btn{
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
}
.break-container{
    margin: 20px 0;
}
.btn:hover{
    background-color: cadetblue;
}
.exercise-time{
    text-align: left;
    height: 30px;
    width: 200px;
    background-color: antiquewhite;
    border-radius: 3px;
    padding-left: 6px;
   
}
.btn-activity{
    text-align: center;
}
.activity-btn{
    margin-top: 25px;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
}
.activity-btn:hover{
    background-color: blue;
}